<body>
    <div class="main">
      <h2>ログイン</h2>
        <div class="form users-form">
          <% if flash.alert %>
            <p class="alert"><%= flash.alert %></p>
          <% end %>
            <%= form_tag("/login") do %>

              <div class="form-body">
                <p>ユーザー名</p>
                <input name="name">
                <p>パスワード</p>
                <input name="password" type="password">
                <p><input type="submit" value="ログイン"></p>
              </div>
            <% end %>
        </div>
        <div class="bottomButtons">
          <%= link_to("トップへ戻る","/",{class:"bottomButton"})%>
        </div>
      </div>
    </div>
</body>