<body>
  <div class="main">
    <div class="form">
      <h2>新規ユーザー登録</h2>
        <div class="form users-form">
          
            <%= form_tag("/users/create") do %>
              <% if @user.errors.present? %>
                <div id="errors">
                  <h3><span>エラーがあります</span></h3>
                  <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end%>
                  </ul>
                </div>
              <% end%>
            <div class="form-body">
              <p>・Name(8文字まで)<span>*必須</span></p>
              <p>(ランキングに表示されます)</p>
              <input name="name">
              <p>・Password(15文字まで)<span>*必須</span></p>
              <input name="password">
              <p>・あなたの星座は？(グループに分かれて競い合おう！)</p>
              <select name="star" id="starList">
                <option value=""></option>
                <option value="おひつじ座">おひつじ座</option>
                <option value="おうし座">おうし座</option>
                <option value="ふたご座">ふたご座</option>
                <option value="かに座">かに座</option>
                <option value="しし座">しし座</option>
                <option value="おとめ座">おとめ座</option>
                <option value="てんびん座">てんびん座</option>
                <option value="さそり座">さそり座</option>
                <option value="いて座">いて座</option>
                <option value="やぎ座">やぎ座</option>
                <option value="みずがめ座">みずがめ座</option>
                <option value="うお座">うお座</option>
              </select>

              <p><input type="submit" value="新規登録"></p>
            <% end %>
            </div>
        </div>

      </div>
        <div class="bottomButtons">
          <%= link_to("トップへ戻る","/",{class:"bottomButton"})%>
        </div>
    </div>
  </div>
</body>
