body{
  background-color:#92cb97;
  margin:0;
  clear:both;
}
header{
  width:100%;
  margin:0 auto;
  display: flex;
  background-color:#3b82c4;
  color:#fff;
}
.header-logo {
  padding-left: 20px;
  font-size: 35px;
  line-height: 82px;
  color:#fff;

}
.header-right{
  display:flex;
  margin: 0 0 0 auto;
}
.log{
  float:right;
  padding-right:20px;
}
.loginUser li {
  line-height: 25px;
  font-size: 18px;
}
.logbutton{
  line-height: 50px;
  width:100px;
  padding:0px 10px 0px 10px;
  margin-left: 20px;
  margin-right:20px;
  background-color:#fff;
  border-radius: 5px;
  text-align: center;
  display: block;
}

ul,li{
  list-style-type:none;
}

span{
  color:rgb(223, 51, 51);
}
.main{
  padding-top:30px;
  max-width:800px;
  width:95%;
  margin:0 auto;
  height:800px;
}
.mainimg{
  text-align:center;
}
.topimg{
  width:60%;
}

.play{
  width:100%;
  height:480px;
}

.post1{
  display:flex;
}

.card{
  float:left;
  width:87px;
  height:134px;
  line-height: 134px;
  text-align: center;
  margin-right:10px;
  border-radius: 5px;
  user-select: none;
  font-size:30px;
}
.judge{
  width:100%;
  flex-direction: column;
}
.judgegroup1{
  display:flex;
  width:100%;
  background-color: #00aaff;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 20px;
}

.judge1{
  margin:5px 0px 20px 0px;
  padding-left:10px;
  line-height: 45px;
  width:15%;
  text-align: center;

}
.judge2{
  margin:5px 0px 20px 0px;
  padding-left:10px;
  line-height: 45px;
  width:5%;

}
.judge3{
  margin:5px 0px 20px 0px;
  padding-left:10px;
  line-height: 45px;
  width:80%;

}


.judgegroup2{
  display:flex;
  width:100%;
  background-color: #f67690;
  border-radius: 5px;
  height: 50px;
}

.judge4{
  margin:0px 0px 5px 0px;
  padding-left:10px;
  line-height: 50px;
  width:15%;
  text-align: center;
}
.judge5{
  margin:0px 0px 5px 0px;
  padding-left:10px;
  line-height: 50px;
  width:5%;

}
.judge6{
  margin:0px 0px 5px 0px;
  padding-left:10px;
  line-height: 50px;
  width:80%;
}



.post2{
  display:flex;
}

.console{
  user-select: none;
  line-height: 46px;

}
.controller{
  display:flex;
  width:100%;
  height:200px;

}

.moneyContainer{
  flex-direction: column;
  width:80%;
  justify-content: space-between;
  display:flex;
  height:100%;
  margin-right:10px;
}

.buttons{
  flex-direction:column;
  width:20%;
  justify-content: space-between;
  display:flex;
  height:100%;
  user-select:none;
}

.button1{
  line-height: 60px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245,165,0);
  cursor: pointer;
  border-radius: 5px;
  margin-top:0px;

}

.button2{
  line-height: 60px;
  margin-top:0px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245,165,0);
  cursor: pointer;
  border-radius: 5px;
}

.button3{
  line-height: 60px;
  margin-top:0px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

.bm{
  display:flex;
  width:100%;
  background-color: white;
  border-radius: 5px;

}
.money1{
  margin-top:0px;
  line-height: 60px;
  width:20%;
  text-align: center;
}

.money2{
  margin-top:0px;
  line-height: 60px;
  width:5%;
}

.money3{
  margin-top:0px;
  line-height: 60px;
  width:75%;
}

.container{
  display: flex;
  justify-content: space-between;
  height:30%;
}
.item{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245,165,0);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  user-select:none;
  width:12%;

}

a{
  text-decoration: none;
  color:black;
  display:block;
}

footer{
  max-width:800px;
  width:95%;
  margin:0 auto;

}
.homeButton{
  user-select:none;
  margin-top:60px;
  width:100%;
}
.topButtons{
  display:flex;
  justify-content: space-around;
  height:80px;
}

.topButton{
  width:30%;
  align-items: center;
  background-color: rgb(245,165,0);
  display:flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  margin-top:0px;

}
.bottomButtons{
  margin-top:40px;
  height:80px;
  justify-content: space-around;
  display:flex;
  margin-bottom:20px;
}

.bottomButton{
  width:30%;
  align-items: center;
  display:flex;
  justify-content: center;
  background-color: rgb(255,255,255);
  cursor: pointer;
  border-radius: 10px;

}
.masterbox{
  background-color: white;
  border-radius: 10px;
  border:2px solid;
}
.box1{
  display: flex;
  border-bottom: 2px solid;
}

.box2{
  display:flex;
}

.rank{
  width:8%;
}

.name{
  width:20%;
}
.money{
  width:20%;
}

.star{
  width:20%;
}
.updated_at{
  width:20%;
}

.window{
  background-color:#6d9770;
  margin-bottom:20px;
}